@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'poppins';
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --color-bg: rgba(4, 4, 22);
  --color-bg-black: rgba(0, 0, 0);
  --color-bg-card: rgba(71, 71, 94);
  --color-text-primary: #FB4B00;

  --color-dark: #333;
  --color-background: #fafafa;
  --color-text: #666464;
  --color-secundary-text: #ff2f00;
  --color-text-hover: #ff0000;
   --color-bg-white: #fff;
  --color-works-bg: #f4f4f4;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

button {
  border-style: none;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  border-bottom: 1px solid #FB4B00;
  background-color: var(--color-bg-black);
  color: var(--color-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.21);

  & .logo {
    display: flex;
    align-items: center;

    & img {
      width: 60px;
      height: 60px;
    }

    & h1 {
      /* color: var(--color-bg); */
      color: var(--color-bg-white);
      font-size: 20px;
    }
  }

  & .menu-hamburguer {
    width: 70px;
    height: 100%;
    /* cursor: pointer; */
    display: none;
    border-radius: 50%;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;



    & .trace {
      width: 40px;
      height: 6px;
      margin: 4px;
      border-radius: 8px;
      background-color: var(--color-bg-white);
      /* background-color: var(--color-bg); */
    }

  }

  & nav {
    display: grid;

    & ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      & .list {
        list-style: none;
        /* font-weight: bold; */
        cursor: pointer;
        color: var(--color-text);
        padding-bottom: 6px;
      }

      & .list:hover {
        color: var(--color-bg-white);
      }

      & .list.active {
        font-weight: bold;
        color: var(--color-text-primary);
        border-bottom: 1px solid var(--color-secundary-text);
      }
    }

  }
}

main {
  margin-top: 90px;
  flex: 1;
  background-color: var(--color-bg);
  /* background-color: rgba(249, 249, 249); */

  & .menu-mobile {

    /* display: none; */
    /* position: fixed;
    width: 70px;
    z-index: 999;
    left: 0;
    top: 0px;
    bottom: 0px;
*/

    background-color: var(--color-bg-card);
    /*
    box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.21),
      -0px 0px; */
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 70px;
    z-index: 999;
    /* background-color: #1C1C1C; */
    flex-direction: column;
    align-items: center;
    width: 70px;
    /* height: 80vh; */
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0px 8px 0px var(--color-bg-white);
    transform: translatey(-100%);/*vou mudar aqui amanha*/
    transition: transform 1s;/*vou mudar aqui amanha*/
    opacity: 0;

    & ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      /* margin-top: 90px; */
      text-align: center;
      align-items: center;
      justify-content: center;

      & li {
        list-style: none;
        margin: 70px 0;

        & img {
          width: 50px;
          /* height: 60px; */
        }


      }
    }

  }

  & section {
    flex: 1;
    display: none;
  }

  & .works-section.active {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    /* overflow: scroll; */
  }

  & .works {
    flex: 1;
    width: 100%;
    height: 320px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    gap: 5px;



    & .works-card {
      position: relative;
      width: 272px;
      height: auto;
      padding: 2px;
      margin-right: 20px;
      margin-bottom: 50px;
      border-radius: 4px;
      box-shadow: 0px 2px 6px 0px var(--color-bg-white);
      background-color: var(--color-bg-card);
      transition: transform 0.2s;
      /* border: 1px solid var(--color-bg); */

      & .img {
        & #img-works {
          width: 268px;
          height: auto;
          object-fit: cover;
          aspect-ratio: 16/8;
          border-radius: 4px 4px 0 0;
        }
      }

      & .info {
        color: rgba(112, 112, 112);

        & #btn-gallery:hover {
          background-color: var(--color-bg);

          & img {
            filter: invert(100%);
          }
        }

        & h3 {
          color: var(--color-bg-white);
        }

        & .status {
          color: rgba(149, 149, 149);
        }

        .btn-options {
          /* position: relative; */
          display: flex;
          /* background-color: #333; */
          width: 100%;
          justify-content: space-between;
          padding: 4px;
          margin-top: 4px;
          box-sizing: border-box;

          & button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            color: var(--color-bg);
            background-color: none;
            box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.21);
            cursor: pointer;

          }

          & #btn-delete {
            margin-left: 10px;

            & img {
              filter: invert(50%) sepia(90%) saturate(5000%) hue-rotate(-10deg) brightness(97%) contrast(95%);
            }
          }

          & #btn-gallery {
            margin-left: auto;
          }
        }
      }
    }

    & .works-card:hover {
      /* background-color: var(--color-works-bg); */
      transform: scale(1.05);

      cursor: pointer;
    }
  }

  & .register-works {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & form {
      background-color: #fff;
      box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.21);
      width: 600px;
      height: 550px;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--color-bg);
      transition: transform 0.3s ease-out;

      & span>p {
        color: var(--color-text);
      }

      & .work-info,
      .info-client {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-bg);
        width: 90%;
        margin: 12px auto;
        padding: 10px;

        & p {
          position: absolute;
          top: -12px;
          left: 50%;
          transform: translatex(-50%);

          color: var(--color-bg);
          padding: 0 6px;
          background-color: var(--color-light);
        }
      }




      & select,
      input {
        width: 80%;
        border-radius: 8px;
        padding: 4px;
        margin: 4px auto;
        /* outline: none; */
        border: 1px solid var(--color-text);

      }

      & input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #fff !important;
        /* Fundo azul */
        box-shadow: 0 0 0 30px #fff inset !important;
        /* Fundo azul */
        -webkit-text-fill-color: var(--color-text) !important;
        /* Texto branco */
        caret-color: var(--color-text) !important;
        /* Texto branco */
      }

      & input,
      select,
      input::placeholder {
        font-size: 12px;
        font-weight: 400;
        color: var(--color-text);
      }

      & label {

        width: 80%;
        text-align: left;
        margin: 0 auto;
        padding: 0 4px;
        color: var(--color-text);
        font-size: 14px;
        font-weight: bold;
      }

      & #register-button {
        width: 160px;
        height: 30px;
        border-radius: 8px;
        padding: 4px;
        cursor: pointer;

        background-color: var(--color-light);
        color: var(--color-bg);
        border: 1px solid var(--color-bg);
        font-weight: bold;
      }

      & #register-button:hover {
        background-color: var(--color-secundary-text);
        color: var(--color-light);
        transition: 0.2s ease all;
      }

    }
  }

  &.register-works.active {
    display: flex;
  }
}

footer {
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(249, 249, 249);
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 23, 0.21);
  z-index: 9999;

  & span {
    & p {
      color: var(--color-text);
      font-size: 12px;
    }

    & h5 {
      color: var(--color-bg);
    }
  }
}


.works .works-card.animate {
  animation: moveToCenter 1s forwards;
  opacity: 0;
  /* Esconde o card durante a animação */
  pointer-events: none;
  /* Desabilita eventos de clique no card durante a animação */
}

.register-works {
  animation: fadeIn 0.5s forwards;
  display: none;
  /* Inicia o formulário como oculto */
  opacity: 0;

}

.register-works.active {
  display: flex;
  /* Mostra o formulário quando estiver ativo */
}

@keyframes moveToCenter {
  0% {
    transform: scale(1);
    /* Posição inicial */
    opacity: 1;
    z-index: 999;
  }

  100% {
    transform: scale(0);
    /* Movimento para o centro e redução de escala */
    opacity: 0;
  }
}


@keyframes fadeIn {
  from {
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) scale(0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;

  }
}